server:
  port: ${API_PORT:8081}

spring:
  application:
    name: api-service

eureka:
  client:
    service-url:
      defaultZone: http://${EUREKA_HOST:localhost}:${EUREKA_PORT:8761}/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      probes:
        enabled: true

logging:
  level:
    org:
      springframework: INFO

resilience4j:
  circuitbreaker:
    instances:
      db:
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
  retry:
    instances:
      db:
        maxAttempts: 3
        waitDuration: 200ms

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
